* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: DejaVu Sans, "FontAwesome 5 Free Solid";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 0.8;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
}
window#waybar.solo {
}
window#waybar.termite {
}
window#waybar.chromium {
}
*/

#workspaces button {
    padding: 0 4px;
    color: #606060;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
}

#workspaces button.focused {
    color: #ffffff;
}

#workspaces button.urgent {
    color: #ff0000;
}

#mode {
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#clock {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#battery {
}
#battery.charging {
}
#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}
#network.disconnected {
}

#pulseaudio {
}
#pulseaudio.muted {
}

#custom-media {
    min-width: 100px;
}
#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}
#temperature.critical {
}

#tray {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#mpd {
    color: #2a5c45;
}
#mpd.disconnected {
}
#mpd.stopped {
}
#mpd.paused {
}
